QWidget {font-family : Arial;
        font-weight : normal;
        font-size: 16px}

QWidget#main {
    background-image: url(resources/images/wallpaper_blur.jpg);
}



/**************************** button styling ***************/
/***********************************************************/

QPushButton {background-color :blue;
            color  : white;
            border : 1px solid rgb(0, 0, 200);
            font-size : 18px;
            padding : 10px 15px 10px 15px;
            border-radius : 5px;
            widget-animation-duration : 800ms;
            button-layout : 2;
            }

QPushButton:focus {border : 2px solid rgb(0, 100, 200);}

QPushButton:hover {background-color : rgb(0, 0, 200)}

QPushButton:pressed {background-color : rgb(0, 0 ,150);
                    color : rgb(150, 150, 150)}

QPushButton:disabled {background-color : rgb(0, 0, 130)}

/***********************************************************/
/***************special button styling**********************/

QPushButton#red-btn , QPushButton[text='x'], QPushButton[text='X'] {
                            background-color : none;
                            border-radius : 0px;
                            border : none;
                            }

QPushButton#red-btn:hover , QPushButton#red-btn:pressed ,
QPushButton[text='x']:hover, QPushButton[text='X']:hover {
                    background-color : red;
                }

QPushButton#link {
                    background : none;
                    border : none;
                    color : blue;
                    font-size : 17px;
                }

QPushButton#link:hover , QPushButton#link:pressed {
                        color : rgb(0, 100, 255);
                        cursor : handle}

QPushButton[text='close'], QPushButton[text='Close'], QPushButton[text='No'] {
                        background-color : red;
                        border : none;}

QPushButton[text='close']:hover, QPushButton[text='Close']:hover, QPushButton[text='No']:hover {
                        background-color : rgb(200, 50, 0);}

/***********************************************************/

QPushButton#mainButtons {background-color : rgba(250,250, 250, 0.6);
                                        color : black;
                                        border  : none;
                                        border-radius : 5px;
                                        margin : 5px;
                                        }

QPushButton#mainButtons:hover  ,
QPushButton#mainButtons:pressed
    {background : QLinearGradient(spread:pad,  x1 : 0 , y1 : 0 , x2 : 0, y2 : 1, stop : 0 rgba(0, 10, 100, 0.5) , stop : 0.5 rgba(15, 15, 170, 0.5) ,stop : 1 rgba(30, 0, 250, 0.5));
                                        color  :white;
                                        font-weight : bold;
                                        border-radius : 5px;}

QPushButton#side_panel_action {background : none;
                                border : none;
                                font-size : 22px;
                                margin : 10px;
                                border-radius : 15px;
                                height : 30px;
                                width : 100px;
                                padding : 8px;}

QPushButton#side_panel_action:hover {background-color  : rgb(0, 0, 100);}

QPushButton#side_panel_action:pressed {background-color : rgb(0, 0, 150);
                                                        font-weight  :bold}

QPushButton#profileButton {background-color : blue;
                                            border : 2px solid blue;
                                            color : white;
                                            padding : 10px;
                                            border-radius : 5px;
                                            }
QPushButton#profileButton:hover {background-color : rgb(0, 50, 150)}

QPushButton#notRoundButton {border-radius : 0px;}

QLabel {background : none;
                        color : black;}

QLabel#timeLabel {color : rgb(0, 200, 50)}

QLabel#name_label {color : white;
                                    margin : 25px;}

QLabel#welcomeLabel {color : yellow}

QLineEdit {background-color  : white;
                            padding : 7px;
                            font-size : 18px;
                            border : 1px solid rgb(150, 150, 150);
                            border-radius : 4px;}

QLineEdit:hover {color : rgb(50, 50, 50);
                border-color  :rgb(0, 0, 200);
                }

QLineEdit:focus {border : 2px solid blue;
                background-color  : rgba(255, 255, 255);
                }

QDateEdit {padding : 7px;
        font-size : 16px;}

QRadioButton , QCheckBox {
            padding : 5px;
            margin : 5px;}

QRadioButton::indicator {
    width : 20px;
    height : 20px;
}

QRadioButton::indicator:checked {
    image : url(resources/icons/radio-checked.png);
}

QRadioButton::indicator:!checked {
    image : url(resources/icons/radio-unchecked.png);
}

QCheckBox::indicator {
    width : 25px;
    height : 25px;
}

QCheckBox::indicator:checked {
    image : url(resources/icons/checked.png);
}

QCheckBox::indicator:!checked {
    image : url(resources/icons/unchecked.png);
}

QComboBox {padding  : 7px;
    border : 1px solid blue;
    padding : 5px;
    border-radius : 4px;}

QComboBox::drop-down {background : none;
                        border : none;}

QComboBox::down-arrow {image : url(resources/icons/down-arrow.png);
                        width : 18px;
                        height : 18px;
                        margin-right: 15px}

QComboBox:on {
    border: 2px solid blue;
}

QComboBox QListView {
    background-color: white;
    border-radius: 5px;
    font-size: 23px;
    border : 1px solid rgba(0, 0, 0, 0.17);
    padding : 5px;
    outline : 0px;
}

QComboBox QListView:item {
    padding: 5px 7px 5px 8px;
    margin: 7px;
    border: none;
}

QComboBox QListView:item:hover {
    background-color: blue;
    color: rgba(255, 255, 255, 0.9);
}

QComboBox QListView:item:selected {
    background-color: blue;
    color: rgba(255, 255, 255, 0.9);
}


QSpinBox , QDoubleSpinBox {font-size : 16px;
                            padding : 7px;}

QListWidgetItem {font-size : 16px;
                border-radius : 3px;}

QDialog {background-color : rgb(255, 255, 255)}

QDialog QPushButton {background-color : blue;
                                    padding : 7px;
                                    color  :white;}

QDialog QPushButton:hover {background-color : rgb(0, 0, 200);}

QDialog QPushButton[text='No'] {
                        background-color : red;
                        border : none;}

QDialog QLabel {font-size : 16px;
                color : black;}

QInputDialog QLineEdit {min-width : 300px;
                        padding : 5px;}

QMessageBox QLabel {font-size : 17px;
                    color : black}

QMessageBox QPushButton {width : 100px;}

QMessageBox QPushButton[text='No'] {
                        background-color : red;
                        border : none;}

QHeaderView::section {background-color : rgb(0, 50, 250);
                        border : none;
                        color : rgba(255, 255, 255, 0.9);
                        border-right : 1px solid rgb(0, 200, 250);
                        border-bottom : 1px solid blue;
                        padding : 5px;}

QHeaderView::section:selected {font-weight  :bold;
                                background-color: rgb(0, 0, 250);}

QTableView::section {background-color : orange;}


QListView {background-color : white;
        border-radius : 5px;
        border : 1px solid rgb(150, 150, 150);}

QListView::item {background-color: white;
    font-size : 17px;
    border-bottom : 1px solid rgb(200, 200, 200);
    border-radius : 7px;
    padding : 5px;}

QListView::item:selected {background-color : blue;
                        color : white;}

QListView QCheckBox::indicator {min-width : 20px;
                                min-height : 20px;}

QTableView {selection-background-color: rgb(0, 0, 200);
                font-size : 17px;
                padding : 7px;}

QScrollArea {
    border : none;
}

QCompleter {
    font-size: 22px;
}

QCompleter  QListView {
    font-size: 25px;
    padding: 10px;
    background-color: orangered;
}

QLineEdit#new_task_field {
                        background-color : rgba(20, 0, 80, 0.8);
                        padding : 25px;
                        min-height : 30px;
                        font-size : 22px;
                        color : white;
                        border : none;
                        border-radius : 0px;
                        margin : 0px;}

QPushButton#plus_button {background : rgba(20, 0, 80, 0.8);
                        font-size : 25px;
                        padding : 12px;
                        color : white;
                        border : none;
                        border-radius : 0px;}

QDateTimeEdit {
    padding : 7px;
    font-size : 20px;}

QLabel#date-label {
        font-size : 75px;
        font-weight : 60;
        color : white;
        margin-left: 20px;
    }

QLabel#time-label {
        font-size : 170px;
        font-weight : 70;
        color : white;
    margin-left: 20px;
}

QScrollArea#link-scroll-pane {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 5px 100px 5px 100px;
}

QScrollArea#link-scroll-pane QWidget {
    background-color: rgba(255, 255, 255, 0.0);
}

QLineEdit#search-bar {
    border : none;
    font-size: 25px;
    width: 500px;
    height: 35px;
    margin: 5px 20px;
}

/* *********************** link button styling ***********************/
QWidget#link-base-widget {
    border : 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    padding: 15px 5px 10px 5px;
}

QWidget#link-base-widget >  QLabel#title-label {
    color: white;
    font-weight: 200;
    font-size: 27px;
}

QWidget#link-base-widget >  QLabel#des-label {
    color : rgba(250, 250, 250, 0.7);
    font-size: 18px;
    font-style: normal;
    font-style: italic;
}

QWidget#link-base-widget:hover {
    background-color: rgba(0, 0, 200, 0.5);
    color: white;
    border : 3px solid rgba(0, 0, 250, 0.7);
}

/******************* section panel styling *********************/

/*QWidget#section-panel {*/
/*    background-image: url(resources/images/wallpaper_blur.jpg);*/
/*}*/

QWidget#section-panel > QWidget#static-bar {
    background-image: url(resources/images/wallpaper_blur.jpg);
    border: none;
}

QWidget#section-panel QPushButton#show-button {
    background : none;
    border-radius: 0px;
    padding: 10px;
}

QWidget#section-panel QPushButton#show-button {
    background : none;
    border: none;
    font-size: 35px;
    padding: 15px;
    width: 50px;
}

QWidget#section-panel QPushButton#show-button:hover {
    background-color: darkblue;
}

QWidget#section-panel QWidget#navigate {
    background-image: url(resources/images/wallpaper_blur.jpg);
}

/********************************** sub link button styling *********************/

QWidget#sub-link-button QWidget{
    border-radius: 0px;
    background : none;
    margin: 0px;
    padding: 15px 20px 15px 20px;
    font-size: 22px;
    border: none;
}


QWidget#sub-link-button > QWidget:hover{
    background-color: rgba(0, 0, 200, 0.7);
    color: white;
    font-weight: 250;
    margin: 0px;
}

QWidget#sub-link-button:disabled > QWidget:disabled {
    background-color: rgba(255, 0, 0, 0.25);
}

QWidget#sub-link-button QLabel#marker {
    background-color: dodgerblue;
    margin: 0px;
}

QWidget#sub-link-button {
    margin: 0px;
}

QWidget#sub-link-button QLabel{
    color : white;
    background: none;
}

QWidget#section-panel QLabel#title {
    background : none;
    font-size: 35px;
    color: white;
    padding: 15px 25px 10px 30px;
    min-width: 300px;

}

/************************** command link button *******************************/
QWidget#command-link-button > QWidget {
    background-color: rgba(0, 0, 255, 0.2);
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
}

QWidget#command-link-button > QWidget:disabled {
    border: none;
    border-top: 3px solid red;
    background-color: rgba(255, 0, 0, 0.2);
}

QWidget#command-link-button QLabel#text {
    font-size: 25px;
    color: white;
    font-weight: 500;
}

QWidget#command-link-button QLabel#des {
    color : rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

QWidget#command-link-button > QWidget:hover {
    background-color: rgba(0, 0, 250, 0.5);
    border : 3px solid deepskyblue;
}

/****************************** search result panel styling ********************/
QWidget#search-result-panel > QWidget{
    background-image: url(resources/images/wallpaper_blur.jpg);
}

QWidget#search-result-panel QLabel#search-title {
    font-size: 45px;
    font-style: normal;
    padding: 10px 25px;
    color: white;
}

QWidget#search-result-panel QPushButton {
    background : none;
    border: 1px solid rgba(100, 100, 100, 0.5);
    padding: 30px 20px;
    text-align: left;
    color: white;
    font-size: 28px;
    font-style: normal;
    border-radius: 0px;
    margin-left: 50px;
    margin-top: 10px;

}

QWidget#search-result-panel QLabel#no-result {
    color: white;
    margin-left: 50px;
    font-size: 22px;
}

QWidget#search-result-panel QPushButton:hover {
    background-color: rgba(0, 0, 255, 0.7);
    border: none;
}


/************************************************/
QPushButton#logout-button {
    background : none;
    border: none;
    border-radius: 0px;
    max-width: 70px;
    max-height: 70px;
}

QPushButton#logout-button:hover {
    background-color: red;
    padding: 10px;
}

QPushButton#home {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 0px;
}

QPushButton#home:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

/******************************* add student panel ***************************/
QWidget#add-student-panel QLabel#title {
    font-size: 70px;
    color: black;
}

QWidget#add-student-panel QLabel#static-label {
    font-size: 23px;
}

QWidget#add-student-panel QLabel#field-label {
    font-size: 20px;
}

QWidget#add-student-panel QLabel#id-label {
    font-size: 25px;
    color: midnightblue;
}

/******************************* student panel styling ****************************/
QWidget#student-panel QLabel#title {
    color: black;
    font-size: 70px;
}


/******************************* Info Card ***************************************/
QWidget#info-card QWidgt#base {
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 255, 0.2);
}

QWidget#info-card QLineEdit#value-field {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: black;
}

QWidget#info-card QLabel#title {
    font-size: 28px;
    font-weight: 300;
    border-bottom: 3px solid rgba(0, 0, 255, 0.5);
}

QWidget#info-card QLabel#profile-label {
    background-color: blue;
    padding: 16px;
    font-size: 30px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 40px;
    border : none;
    color: white;
}

QWidget#info-card QLabel#name-label {
    font-size: 28px;
    font-weight: 500;
}

QWidget#info-card QLabel#user-label {
    color: rgba(0, 0, 255, 0.5);
    font-style: italic;
}

QWidget#info-card QLabel#key-label {
    color: rgba(0, 0, 0, 0.7);
}